<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-button (click)="Volver()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        Agregar Tienda
      </ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-list>
      <ion-item>
        <ion-label>Categoria:</ion-label>
        <ion-select [(ngModel)]="modelTienda.id_categoria">
          <ion-select-option *ngFor="let categorianegocio of categorianegocios" [value]="categorianegocio.id_categoria">{{ categorianegocio.des_categoria }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Nombre: </ion-label>
        <ion-input [(ngModel)]="modelTienda.nombre" type="text" name="nombre" class="form-control"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Dirección: </ion-label>
        <ion-input [(ngModel)]="modelTienda.direccion" type="text" name="direccion" class="form-control"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Teléfono: </ion-label>
        <ion-input [(ngModel)]="modelTienda.telefono" type="text" name="telefono" class="form-control"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Foto: </ion-label>
        <ion-input [(ngModel)]="modelTienda.foto" type="text" name="foto" class="form-control"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" color="secondary" (click)="Guardar(modelTienda)">Guardar</ion-button>

</ion-content>
