<ion-content [fullscreen]="true">
  
  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-button (click)="Volver()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        Pedidos
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
      <ion-item *ngFor="let pedido of pedidos" (click)="verDetalle(pedido)">
        <div *ngFor="let producto of productos">
          <div *ngIf="pedido.id_producto == producto.id_producto">
            <ion-avatar slot="start">
              <ion-img [src]="producto.foto"></ion-img>
            </ion-avatar>
            <ion-label>{{ producto.nombre }}</ion-label>
          </div>
        </div>
      </ion-item>
      <!--<ion-item-options side="end">
        <ion-item-option (click)="Borrar(pedido)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="Editar(pedido)" color="secondary">
          <ion-icon name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>-->
  </ion-list>

</ion-content>
