<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        Editar Tienda
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  

  <ion-item>
    <ion-label>Categoría: </ion-label>
    <ion-input type="text" [(ngModel)]="tiendas.id_categoria" name="id_categoria"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nombre: </ion-label>
    <ion-input type="text" [(ngModel)]="tiendas.nombre" name="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Dirección: </ion-label>
    <ion-input type="text" [(ngModel)]="tiendas.direccion" name="direccion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Teléfono: </ion-label>
    <ion-input type="text" [(ngModel)]="tiendas.telefono" name="telefono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Foto: </ion-label>
    <ion-input type="text" [(ngModel)]="tiendas.foto" name="foto"></ion-input>
  </ion-item>
    <ion-button expand="full" color="secondary" (click)="Actualizar(tiendas)">Actualizar</ion-button>



</ion-content>
