<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        Editar Empleados
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  

    <ion-item>
      <ion-label>Tienda</ion-label>
      <ion-input type="text" [(ngModel)]="empleados.id_tienda" name="id_tienda"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Primer Nombre</ion-label>
      <ion-input [(ngModel)]="empleados.p_nombre" name="p_nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Segundo Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="empleados.s_nombre" name="s_nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Primer Apellido</ion-label>
      <ion-input [(ngModel)]="empleados.p_apellido" name="p_apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Segundo Apellido</ion-label>
      <ion-input [(ngModel)]="empleados.s_apellido" name="s_apellido"></ion-input>
    </ion-item>
    <ion-button expand="full" color="secondary" (click)="Actualizar(empleados)">Actualizar</ion-button>



</ion-content>
