<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        Detalle de Producto
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="{{productos.foto}}" />
    <ion-card-header>
      <ion-card-title>{{productos.nombre}}</ion-card-title>
      <ion-card-subtitle>Tienda: {{productos.id_tienda}}</ion-card-subtitle>
      <ion-card-subtitle>Precio: {{productos.precio}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="warning" (click)="Editar(productos)">Editar</ion-button>
  <ion-button expand="full" color="danger" (click)="Borrar(productos)">Borrar</ion-button>

</ion-content>
