<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-button (click)="Volver()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        Registro
      </ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-list>
      <ion-item>
        <ion-label>Nombre: </ion-label>
        <ion-input [(ngModel)]="modelUsuario.nombre" type="text" name="nombre" class="form-control"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Apellido: </ion-label>
        <ion-input [(ngModel)]="modelUsuario.apellido" type="text" name="apellido" class="form-control"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Dirección: </ion-label>
        <ion-input [(ngModel)]="modelUsuario.direccion" type="text" name="direccion" class="form-control"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Correo: </ion-label>
        <ion-input [(ngModel)]="modelUsuario.correo" type="email" name="correo" class="form-control"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña: </ion-label>
        <ion-input [(ngModel)]="modelUsuario.contrasenia" type="password" name="contrasenia" class="form-control"></ion-input>
      </ion-item>
  
      <ion-radio-group [(ngModel)]="modelUsuario.id_rol">
        <ion-list-header>
          <ion-label>Rol</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Cliente</ion-label>
          <ion-icon name="basket"></ion-icon>
          <ion-radio slot="start" color="success" value="1"></ion-radio>
        </ion-item>
  
        <ion-item>
          <ion-label>Vendedor</ion-label>
          <ion-icon name="home"></ion-icon>
          <ion-radio slot="start" color="tertiary" value="2"></ion-radio>
        </ion-item>
  
        <ion-item>
          <ion-label>Repartidor</ion-label>
          <ion-icon name="bicycle"></ion-icon>
          <ion-radio slot="start" color="danger" value="3"></ion-radio>
        </ion-item>
      </ion-radio-group>

    </ion-list>
    
    <ion-button expand="full" color="danger" (click)="Registrarse(modelUsuario)">Registrarse</ion-button>



</ion-content>
