<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-button (click)="Volver()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        Detalle de Producto
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="{{modelProducto.foto}}" />
    <ion-card-header>
      <ion-card-title>{{modelProducto.nombre}}</ion-card-title>
      <ion-card-subtitle>Tienda: {{modelTienda.nombre}}</ion-card-subtitle>
      <ion-card-subtitle>Precio: Q{{modelProducto.precio}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="danger" (click)="Pedir(modelProducto)">Pedir</ion-button>

</ion-content>
