<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>

    </ion-title>
    <ion-buttons slot="start">

      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<app-menu-repartidor></app-menu-repartidor>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-content [fullscreen]="true">

  <div id="container">
    <img src="assets/logo.png" alt="">
    <br>
    <br>
    <strong>Bienvenido Repartidor <br><ion-text color="danger">{{modelUsuario.nombre}}</ion-text></strong>
  </div>

  

</ion-content>
