<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>
        Empleados
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="nuevoEmpleado()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-item-sliding *ngFor="let empleado of empleados">
      <ion-item>
        <ion-label>{{ empleado.id_empleado }}</ion-label>
        <ion-label>{{ empleado.id_tienda }}</ion-label>
        <ion-label>{{ empleado.id_estado }}</ion-label>
        <ion-label>{{ empleado.p_nombre }}</ion-label>
        <ion-label>{{ empleado.s_nombre }}</ion-label>
        <ion-label>{{ empleado.p_apellido }}</ion-label>
        <ion-label>{{ empleado.s_apellido }}</ion-label>
        <ion-checkbox [checked]="empleado.completed" slot="start"></ion-checkbox>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="borrarEmpleado(empleado)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="Editar(empleado)" color="secondary">
          <ion-icon name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
